<% provide(:title, 'All users') %>
<h1>All users</h1>
<h2>Click on the usernames to view user profiles or to follow/unfollow them.</h2>
<%= will_paginate %>
<ul class="users">
  <% @users.sort_by(&:name).each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>

