<footer class="footer">
  <small>
    Made by <%= link_to "Arun Rajagopalan", "https://www.linkedin.com/in/arunrajagopalan92" %>
    | <%= link_to "HIRE ARUN!", "mailto:arajago6@hawk.iit.edu?subject=Hi, I am looking for a Rails developer!&body=Hey Arun,%0D%0AI found your MBlo website and liked it. I am interested in hiring you! Reply with a time slot for an interview!%0D%0ACheers, Your Future Boss :)" %>
  </small>
  <nav>
    <ul>	
      <li><%= link_to "Contact Admin", "mailto:arajago6@hawk.iit.edu" %></li>
      <li>Developed with <a href="http://rubyonrails.org/">Ruby on Rails</a></li>
    </ul>
  </nav>
</footer>

